@font-face {
  font-family: "Gotham";
  font-weight: 900;
  src: url("../../fonts/GothamPro-Black.woff2") format("woff2"),
    url("../../fonts/GothamPro-Black.woff") format("woff");
}

@font-face {
  font-family: "Gotham";
  font-weight: 500;
  src: url("../../fonts/GothamPro-Medium.woff2") format("woff2"),
    url("../../fonts/GothamPro-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gotham";
  font-weight: bold;
  src: url("../../fonts/GothamPro-Bold.woff2") format("woff2"),
    url("../../fonts/GothamPro-Bold.woff") format("woff");
}

html {
  font-family: Gotham;
  min-height: 100%;
  background: url(../../background.jpg) no-repeat center center,
            #ed4159;
}

body {
  min-height: 100%;
}