.login-form__title {
  opacity: 0.8;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #262626;
}

.login-form__email {
  margin-top: 32px;
  width: 100%;
}

.login-form__password {
  margin-top: 24px;
  width: 100%;
}

.login-form__error {
  margin-top: 24px;
  border-radius: 4px;
  background-color: rgba(237, 65, 89, 0.25);
  font-size: 12px;
  font-weight: 500;
  color: #ed4159;
  padding: 14px;
}

.login-form__submit {
  width: max-content;
  min-width: 145px;
  margin: 40px auto 24px auto;
}

@media screen and (min-width: 768px) {
  .login-form__title {
    font-size: 24px;
  }

  .login-form__email {
    margin-top: 48px;
  }

  .login-form__password {
    margin-top: 32px;
  }

  .login-form__error {
    margin-top: 32px;
    font-size: 14px;
    padding: 14px 16px;
  }

  .login-form__submit {
    margin: 60px auto 12px auto;
  }
}