.text-input {
  display: block;
  border-radius: 4px;
  background-color: #f1f1f1;
  border: solid 1px transparent;
  padding: 14px 16px;
  font-family: Gotham, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(38, 38, 38, 0.8);
  outline: none;
  -webkit-appearance: none;
  box-sizing: border-box;
}

.text-input::placeholder {
  color: rgba(38, 38, 38, 0.4);
}

.text-input:focus {
  border-color: rgba(151, 151, 151, 0.25);
}